@model Vidly.ViewModels.RandomCustomerViewModel
@{
    ViewBag.Title = "Random Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Model.Customer.Name</h2>


@if (Model.Customers.Count == 0)
{
    <p>Welcome, brand new customer</p>
}
else
{
    <ul>
        <p>Welcome, returning customer</p>

        @foreach (var customers in Model.Customer)
        {
            <li>@customer.Name</li>
        }
        </ul>
    }

 }

